<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{/fragment/header ::nav}"></div>
<div th:insert="~{/fragment/header ::copy}"></div>

<body>

<!--<div class="gcse-search" ></div>-->

<table>
    <thead>
    <tr>
        <th>공연명</th>
        <th>공연장소</th>
        <th>공연시작일자</th>
        <th>공연종료일자</th>
        <th>공연내용</th>
        <th>요금정보</th>
        <th>관람요금</th>
        <th>객석수</th>
        <th>유의사항</th>
        <th>주관기관</th>
        <th>주최기관</th>
        <th>후원기관</th>
        <th>전화번호</th>
<!--        <th>홈페이지주소</th>-->
<!--        <th>관련정보</th>-->
        <th>소재지도로명주소</th>
        <th>소재지지번주소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="performance : ${performanceList}">
        <td><a th:href="@{/performance/{id}(id=${performance.id})}" th:text="${performance.name}"></a> </td>
        <td th:text="${performance.location}"></td>
        <td th:text="${performance.startDate}"></td>
        <td th:text="${performance.endDate}"></td>
        <td th:text="${performance.content}"></td>
        <td th:text="${performance.fee}"></td>
        <td th:text="${performance.fee_num}"></td>
        <td th:text="${performance.warning}"></td>
        <td th:text="${performance.age}"></td>
        <td th:text="${performance.org}"></td>
        <td th:text="${performance.open_org}"></td>
        <td th:text="${performance.sponsor}"></td>
        <td th:text="${performance.phone_num}"></td>
        <td th:text="${performance.location1}"></td>
        <td th:text="${performance.location2}"></td>
    </tr>
    </tbody>
</table>
<div th:insert="~{/fragment/footer ::google}"></div>
</body>
</html>
